@model DigitalInspection.ViewModels.EditChecklistViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

<script type="text/javascript" src="~/Scripts/App/Shared/Services/dialog.service.js"></script>
<script type="text/javascript" src="~/Scripts/App/Shared/Services/table.service.js"></script>

@*onclick="DialogService.show('addChecklistDialog', 'addChecklistForm')"*@
<div class="btn-toolbar ma-well well well-sm">
	<div class="row">
		<a href="@Url.Action("Index", "Checklists")"
				class="btn btn-default back-button no-margin pull-left">
			<i class="material-icons">arrow_back</i>
			@Model.Name
		</a>
		<button type="submit"
				class="btn btn-default no-margin pull-right">
			<i class="material-icons">save</i>
		</button>
	</div>
</div>

<div class="container-fluid">
	<div class="jumbotron">
		@using(Html.BeginForm(
						"Edit",
						"Checklists",
						FormMethod.Post,
						new
						{
							enctype = "multipart/form-data"
						})
					)
		{
			<fieldset>

				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Name)
				</div>

				<div class="form-group">
					@Html.TextBoxFor(m => m.Picture, new { type = "file", accept = "image/*" })
					<div class="input-group">
						@Html.TextBoxFor(m => m.Picture.Title, new { @readonly = "", @class = "form-control", placeholder = "Attach a picture *" })
						<span class="input-group-btn">
							<button type="button" class="btn btn-fab btn-fab-mini">
								<i class="material-icons">attach_file</i>
							</button>
						</span>
					</div>
					@Html.ValidationMessageFor(m => m.Picture)

					<span class="text-warning">Max Size is 8 MB</span>
				</div>

				<table class="table table-striped table-condensed table-responsive form-group">
					<thead>
						<tr>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" onchange="TableService.toggleCheckboxesForColumn(1)"/>
										</label>
									</div>
									<div class="flex-item">
										Checklist item
									</div>
								</div>
							</th>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox"  onchange="TableService.toggleCheckboxesForColumn(2)"/>
										</label>
									</div>
									<div class="flex-item">
										Picture Required?
									</div>
								</div>
							</th>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox"  onchange="TableService.toggleCheckboxesForColumn(3)"/>
										</label>
									</div>
									<div class="flex-item">
										Allow not applicable?
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" />
										</label>
									</div>
									<div class="flex-item">
										Hardcoded checklist item
									</div>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
						</tr>

						<!-- 2 -->
						<tr>
							<td>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" />
										</label>
									</div>
									<div class="flex-item">
										Hardcoded checklist item 2
									</div>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
						</tr>

						<!-- 3 -->
						<tr>
							<td>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" />
										</label>
									</div>
									<div class="flex-item">
										Hardcoded checklist item 3
									</div>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
							<td>
								<div class="checkbox">
									<label>
										<input type="checkbox" />
									</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</fieldset>
		}
	</div>
</div>
