@model DigitalInspection.ViewModels.Checklists.EditChecklistViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@section Toolbar {
	<div class="row">
		<a href="@Url.Action("Index", "Checklists")"
		   onclick="FormService.showProgress()"
		   class="btn btn-default back-button no-margin pull-left">
			<i class="material-icons">arrow_back</i>
			@Model.Checklist.Name
		</a>
		<button onclick="FormService.submit('editChecklistForm', true)"
				class="btn btn-default no-margin pull-right">
			<i class="material-icons">save</i>
		</button>
	</div>
}

@using (Html.BeginForm(
					"Update",
					"Checklists",
					new { id = Model.Checklist.Id },
					FormMethod.Post,
					new
					{
						enctype = "multipart/form-data",
						id = "editChecklistForm",
						autocomplete = "off"
					}
				)
		)
{
	<div class="container-fluid">
		<div class="jumbotron">

			<fieldset>
				<div class="form-group">
					@Html.LabelFor(m => m.Checklist.Name, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Checklist.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Checklist.Name)
				</div>

				<table class="table table-striped table-condensed table-responsive form-group">
					<thead>
						<tr>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" onclick="TableService.toggleCheckboxesForColumn(1, this)" />
										</label>
									</div>
									<div class="flex-item">
										Checklist item
									</div>
								</div>
							</th>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" onclick="TableService.toggleCheckboxesForColumn(2, this)" />
										</label>
									</div>
									<div class="flex-item">
										Picture or video required?
									</div>
								</div>
							</th>
							<th>
								<div class="container-flex align-center">
									<div class="checkbox checkbox-with-label flex-item">
										<label>
											<input type="checkbox" onclick="TableService.toggleCheckboxesForColumn(3, this)" />
										</label>
									</div>
									<div class="flex-item">
										Required to complete inspection?
									</div>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>

						@for (var i = 0; i < Model.ChecklistItems.Count; i++)
						{
							<tr>
								<td>
									<div class="container-flex align-center">
										<div class="checkbox checkbox-with-label flex-item">
											<label>
												@Html.HiddenFor(m => m.ChecklistItems[i].Id)
												@Html.CheckBoxFor(m => m.IsChecklistItemSelected[i])
											</label>
										</div>
										<div class="flex-item">
											@Model.ChecklistItems[i].Name
										</div>
									</div>
								</td>
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
										</label>
									</div>
								</td>
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox" />
										</label>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>

			</fieldset>
		</div>
	</div>
}


