@{
	ViewBag.Title = "Digital Inspection";
	ViewBag.Dan_Name = "Dan Caspers";
	ViewBag.Dan_Email = "daniel@caspersonline.us";
	ViewBag.Steve_Name = "Steve Caspers";
	ViewBag.Steve_Email = "steve.caspers@murphyauto.net";
	ViewBag.Rick_Name = "Rick Murphy";
	ViewBag.Rick_Email = "rick.murphy@murphyauto.net";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">

	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>@ViewBag.Steve_Name</h4>
				</div>
			</div>
			<div class="panel-body">
				<ul>
					<li>Product owner</li>
					<li>On-site support</li>
					<li>Troubleshooting</li>
					<li>"PICK" and Work Order System Support</li>
				</ul>
			</div>
			<div class="panel-footer">
				<a href="mailto:@ViewBag.Steve_Email">@ViewBag.Steve_Email</a>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>@ViewBag.Dan_Name</h4>
				</div>
			</div>
			<div class="panel-body">
				<ul>
					<li>User Experience Designer</li>
					<li>Developer</li>
					<li>Digital Inspection support</li>
				</ul>
			</div>
			<div class="panel-footer">
				<a href="mailto:@ViewBag.Dan_Email">@ViewBag.Dan_Email</a>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>@ViewBag.Rick_Name</h4>
				</div>
			</div>
			<div class="panel-body">
				<ul>
					<li>Product owner</li>
					<li>On-site support</li>
				</ul>
			</div>
			<div class="panel-footer">
				<a href="mailto:@ViewBag.Rick_Email">@ViewBag.Rick_Email</a>
			</div>
		</div>
	</div>

</div>

<h3 class="text-center">Need to contact us?</h3>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h1 class="panel-title">Got ideas for improvement?</h1>
			</div>
			<div class="panel-body">
				The best ideas come from people just like you. Share them with us however you'd like.

				<div class="row">
					<div class="col-sm-3">
						<a class="btn btn-primary" href="mailto:@ViewBag.Dan_Email,@ViewBag.Steve_Email,@ViewBag.Rick_Email">Email us</a>
					</div>
					<div class="col-sm-9">
						<a class="btn btn-primary" href="https://github.com/DanielCaspers/DigitalInspection/issues">Share your idea on the project site</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h1 class="panel-title">Found a problem?</h1>
			</div>
			<div class="panel-body">
				We're sorry about that! Let us know what we messed up and we'll make it right.

				<div class="row">
					<div class="col-sm-3">
						<a class="btn btn-primary" href="mailto:@ViewBag.Dan_Email,@ViewBag.Steve_Email,@ViewBag.Rick_Email">Email us</a>
					</div>
					<div class="col-sm-9">
						<a class="btn btn-primary" href="https://github.com/DanielCaspers/DigitalInspection/issues/new">Log a bug in the issue tracker</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
