@model DigitalInspection.ViewModels.Inspections.UploadInspectionPhotosViewModel

@{
	const string TEMPLATE_NAMESPACE = "uploadInspectionPhotosDialog";
	const string CANCEL = TEMPLATE_NAMESPACE + "_cancel";
	const string SUCCESS = TEMPLATE_NAMESPACE + "_success";
}

@if (Model.ChecklistItem != null)
{
	<div id="@TEMPLATE_NAMESPACE" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Upload photo - @Model.ChecklistItem.Name</h4>
				</div>
				@*@using (Ajax.BeginForm(
				"Photo",
				"Inspections",
				FormMethod.Post,
				new AjaxOptions
				{
					InsertionMode = InsertionMode.Replace,
					UpdateTargetId = "inspectionTableErrorContainer"
				},
				new {
					id = "uploadInspectionPhotosForm",
					autocomplete = "off",
					enctype = "multipart/form-data"
				})
			)
		{*@
				@using (Html.BeginForm(
						"Photo",
						"Inspections",
						FormMethod.Post,
						new
						{
							id = "uploadInspectionPhotosForm",
							autocomplete = "off",
							enctype = "multipart/form-data"
						})
					)
				{
					<div class="modal-body">
						<div class="container-flex center">
							<!-- Center the image using extra div wrapper + flex, while preventing flex from messing with aspect ratio -->
							<div class="upload-content-container">
								<!-- A video or image will be dynamically appended here by jQuery on upload -->
							</div>
						</div>
					</div>

					<div class="container-flex center">
						<div class="form-group">
							<label for="fileInput" class="btn btn-primary">
								<i class="material-icons md-36">camera_alt</i>
							</label>
							@Html.TextBoxFor(m => m.Picture, new { type = "file", accept = "image/*,video/*", id = "fileInput" })
						</div>
					</div>

					<div class="container-flex center text-warning">&nbsp;Max file size is&nbsp;100 MB</div>
					<!-- Size of file to upload is set dynamically in JS on input change -->
					<div id="fileInputSizeDisplay"></div>

					<div class="modal-footer">
						<button id="@CANCEL" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="@SUCCESS" type="submit" class="btn btn-primary" data-dismiss="modal" disabled>Upload</button>
					</div>

					@Html.HiddenFor(m => m.WorkOrderId)
					@Html.HiddenFor(m => Model.InspectionItem.Id)
					@Html.HiddenFor(m => Model.ChecklistId)
					@Html.HiddenFor(m => Model.TagId)
				}
			</div>
		</div>
	</div>
}

