@using DigitalInspection.Views.Helpers
@model DigitalInspection.ViewModels.InspectionDetailViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@section Toolbar{
	<div class="container-flex between ma-nav-info">
		<div>
			<a href="@Url.Action("_Inspection", "WorkOrders", new { id = Model.WorkOrder.Id })"
			   class="btn btn-default back-button no-margin pull-left">
				<i class="material-icons">arrow_back</i>
				@Model.Checklist.Name - @Model.WorkOrder.Id.Substring(3)
			</a>

		</div>

		<div>
			@Html.Partial("_CustomerVehicleSummary", Model.WorkOrder)
		</div>

		<div>
			@if (Model.WorkOrder.RecommendedServices != null)
			{
				<button type="button"
						class="btn btn-default bold no-margin"
						onclick="DialogService.show('editRecommendedServicesDialog', 'editRecommendedServices')">
					<span>RS</span>
				</button>
			}
			else
			{
				<button type="button"
						disabled="disabled"
						class="btn btn-default bold no-margin"
						onclick="DialogService.show('editRecommendedServicesDialog', 'editRecommendedServices')">
					<span>RS</span>
				</button>
			}

			@Ajax.RawActionLink("<i class='material-icons'>note_add</i>",
					 "GetAddInspectionWorkOrderNoteDialog",
					 "Inspections",
					 new
					 {
						 workOrderId = Model.WorkOrder.Id,
					 },
					 new AjaxOptions
					 {
						 HttpMethod = "POST",
						 InsertionMode = InsertionMode.Replace,
						 UpdateTargetId = "AddInspectionWorkOrderNoteDynamicDialogContainer",
						 OnComplete = "DialogService.show('addInspectionWorkOrderNoteDialog', 'addInspectionWorkOrderNoteForm')"
					 },
					 new
					 {
						 @class = "btn btn-primary no-margin no-padding-horizontal"
					 })
		</div>
	</div>
}

@if (Model.WorkOrder != null && Model.WorkOrder.RecommendedServices != null)
{
	@Html.Partial("../Shared/Dialogs/_EditRecommendedServicesDialog", Model.WorkOrder)
}

<div class="container-fluid">
	@Html.Partial("_InspectionTable", Model)
</div>
