@model DigitalInspection.ViewModels.InspectionDetailViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@section Toolbar{
	<div class="container-flex between ma-nav-info">
		<div>
			<a href="@Url.Action("_Inspection", "WorkOrders", new { id = Model.WorkOrder.Id })"
			   class="btn btn-default back-button no-margin pull-left">
				<i class="material-icons">arrow_back</i>
				@Model.Checklist.Name - @Model.WorkOrder.Id.Substring(3)
			</a>

		</div>

		<div>
			@Html.Partial("_CustomerVehicleSummary", Model.WorkOrder)
		</div>
	</div>
}

<div class="container-fluid">
	@Html.Partial("_InspectionTable", Model)
</div>
