@model DigitalInspection.ViewModels.WorkOrderDetailViewModel

@using DigitalInspection.Views.Helpers;

<span>
	@HtmlHelpers.Pluralizer(Model.WorkOrder.Customer.Name)
</span>
<span>
	@Model.WorkOrder.Vehicle.Year
	@Model.WorkOrder.Vehicle.Make
	@Model.WorkOrder.Vehicle.Model
</span>

@if (String.IsNullOrWhiteSpace(Model.WorkOrder.Vehicle.Color))
{
	<span class="car-color-indicator">?</span>
}
else
{
	<span class="car-color-indicator" style="background-color: @Model.WorkOrder.Vehicle.Color;"></span>
}
