@model DigitalInspection.ViewModels.WorkOrderInspectionViewModel
@using System.Configuration
@using System.Web.Hosting

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@section TabContainer {
	@{ Html.RenderPartial("TabContainers/_WorkOrderDetailTabs", Model.TabViewModel);}
}

@section Toolbar{

<div class="container-flex between ma-nav-info">
	<div>
		<a href="@Url.Action("Index", "WorkOrders")"
		   class="btn btn-default back-button no-margin pull-left">
			<i class="material-icons">arrow_back</i>
			Order @Model.WorkOrder.Id.Substring(3)
		</a>

		@Html.Partial("_CustomerVehicleSummary", Model.WorkOrder)
	</div>

	@if (Model.InspectionId != Guid.Empty)
	{
		var customerAccessPortalUrl = ConfigurationManager.AppSettings.Get("MurphyAutomotiveCustomerAccessPortalBaseUrl") + "/#/inspections/" + Model.InspectionId;
		<!-- Input cannot have display:none for copy to be allowed, so instead position off screen -->
		<input style="position: absolute; left: -1000px;"
		       value="@(customerAccessPortalUrl)" id="copy-link" />

		<div>
			<button class="btn btn-default no-margin"
			        onclick="document.getElementById('copy-link').select(); document.execCommand('copy'); alert('Copied inspection link successfully');">
				<i class="material-icons">link</i>
			</button>

			<a class="btn btn-default no-margin"
			   href="@(customerAccessPortalUrl)"
			   target="_blank">
				<i class="material-icons">open_in_new</i>
			</a>
		</div>
	}
</div>
}

<div class="container-fluid">
	<div class="container-flex around" style="flex-wrap: wrap">

		@foreach (var checklist in Model.Checklists)
		{
			<a href="@Url.Action("Index", "Inspections", new { workOrderId = Model.WorkOrder.Id, checklistId = checklist.Id })">
				<div class="panel panel-info ma-card" style="width: 320px;">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>@checklist.Name</h4>
						</div>
					</div>

					<div class="img-darkener" style="min-height: 0;">
						@if(checklist.Image != null)
						{
							if (HostingEnvironment.ApplicationVirtualPath == "/" || HostingEnvironment.ApplicationVirtualPath == "\\")
							{
								<img src="@Path.Combine("/Uploads/Checklists/", @checklist.Image.Title)"
										alt="Image could not be found" />
							}
							else
							{
								<img src="@(HostingEnvironment.ApplicationVirtualPath + "/Uploads/Checklists/" + @checklist.Image.Title)"
										alt="Image could not be found" />
							}

						}
					</div>

					<!-- Consider using progress statistics down here -->
					@*<div class="panel-footer">
						X of Y completed
					</div>*@
				</div>
			</a>

		}

	</div>
</div>
