@using DigitalInspection.Utils
@model DigitalInspection.ViewModels.WorkOrders.WorkOrderMasterViewModel

<script type="text/javascript">
	var onSelect = function (e, dataTableInstance, type, indexes) {
		// console.log('Running onSelect', e, dataTableInstance, type, indexes);
		if (type === 'row') {
			FormService.showProgress();

			var selectedRowElement = dataTableInstance.row(indexes).node();
			window.location.href = selectedRowElement.attributes['data-url'].value;

		}
	};
	var config = TableService.BASE_TABLE_CONFIG;
	config.select = !!onSelect;
	config.lengthMenu = [10, 15, 20, 40];
	config.columnDefs = [{
		targets: 3,
		orderable: false,
		searchable: false
	}];

	TableService.showTable('workOrderTable', config, onSelect);
</script>


<div class="jumbotron">
	<table id="workOrderTable" class="table table-striped table-condensed table-responsive form-group">
		<thead>
			<tr>
				<th>Order #</th>
				<th>Emp. #</th>
				<th>Customer</th>
				<!-- Empty is used for vehicle color -->
				<th></th>
				<th>Vehicle</th>
				<th>Status</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var workOrder in Model.WorkOrders)
			{
				<!-- data-url is used by TableService to take generated URL and navigate to page -->
				<tr data-url="@Url.Action("_Vehicle", "WorkOrders", new { id = workOrder.Id })">
					<td>@workOrder.Id.Substring(3)</td>
					<td>@workOrder.EmployeeId</td>
					<td>@workOrder.Customer.Name</td>
					@if (String.IsNullOrWhiteSpace(workOrder.Vehicle.Color))
					{
						<td>?</td>
					}
					else
					{
						<td class="color-indicator" style="background-color: @workOrder.Vehicle.Color;"></td>
					}
					<td>
						<div>@workOrder.Vehicle.Year @workOrder.Vehicle.Make @workOrder.Vehicle.Model</div>
						<div>@workOrder.Vehicle.License</div>
					</td>
					<td>
						@if (workOrder.Status != null)
						{
							<div>@workOrder.Status.Description</div>
						}

						@if (workOrder.Customer.WaitingSinceDate.HasValue)
						{
							<i class="material-icons" style="color:royalblue;" title="Customer Waiting">assignment_ind</i>
						}
						
						@if (workOrder.Status!=null && workOrder.Status.Code==22)
						{
							<i class="material-icons" style="color:red;" title="Action Required">notifications_active</i>
						}
					</td>
					<!-- http://www.csharp-examples.net/string-format-datetime/ -->
					<td>
						<div>@string.Format("{0:d}", workOrder.Date)</div>
						@*<div>@string.Format("{0:t}", workOrder.Date)</div>*@
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>