@model DigitalInspection.Models.WorkOrder

@using DigitalInspection.Views.Helpers;

<span>
	@HtmlHelpers.Pluralizer(Model.Customer.Name)
</span>
<span>
	@Model.Vehicle.Year
	@Model.Vehicle.Make
	@Model.Vehicle.Model
</span>

@if (String.IsNullOrWhiteSpace(Model.Vehicle.Color))
{
	<span class="car-color-indicator">?</span>
}
else
{
	<span class="car-color-indicator" style="background-color: @Model.Vehicle.Color;"></span>
}
