@model DigitalInspection.Models.Orders.WorkOrder

@using DigitalInspection.Views.Helpers;

<span>
	<div class="container-flex align-center between">
		@if (Model.Customer.WaitingSinceDate.HasValue)
		{
		<i class="material-icons md-36" style="color:royalblue;" title="Customer Waiting">assignment_ind</i>
		}
		else
		{
			<i class="material-icons md-36 md-light" style="color:#ccc;" title="Customer Waiting">assignment_ind</i>
		}
		@HtmlHelpers.Pluralizer(Model.Customer.Name)
	</div>
</span>
<span class="car-color-badge" style="background-color: @Model.Vehicle.Color;">
	@Model.Vehicle.Year
	@Model.Vehicle.Make
	@Model.Vehicle.Model
</span>


@*@if (String.IsNullOrWhiteSpace(Model.Vehicle.Color))
{
	<span class="car-color-indicator">?</span>
}
else
{
	<span class="car-color-indicator" style="background-color: @Model.Vehicle.Color;"></span>
}*@

<script>
	CustomerVehicleSummaryComponent.setContrast();
</script>
