@model DigitalInspection.ViewModels.Base.BaseViewModel
@using System.Security.Claims
@using DigitalInspection.Views.Helpers;
@using DigitalInspection.Services.Web
@using Roles = DigitalInspection.Models.Roles

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	<!-- Needs to go first because styles need to be overridden by other CSS files. Needs WWW access for fetching external images -->
	<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"> 
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/Library")
	@Scripts.Render("~/bundles/App")
	<script>
		$(function() {
			$('#ma-company-picker').selectpicker({
				width: '150px !important'
			});

			$('#ma-company-picker').on('changed.bs.select',
				function() {
					var imposterSelect = $(this);
					imposterSelect.closest('form').submit();
				});
		});
	</script>
</head>
<body>
	@if (Model != null && !string.IsNullOrEmpty(Model.ResourceName))
	{
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid ma-nav-container">
				<div class="dropdown ma-nav-dropdown">
					<button type="button" class="btn btn-default" data-toggle="dropdown">
						<i class="dropdown-toggle material-icons md-24 md-light">
							menu
						</i>
					</button>
					<ul class="dropdown-menu ma-menu-tray">
						<li>
							<a href="@Url.Action("Index", "WorkOrders")"
							   onclick="FormService.showProgress()">
								<i class="material-icons">description</i>
								<span>Work Orders</span>
							</a>
						</li>
						@if (HttpContext.Current.User.IsInRole(Roles.Admin))
						{
							<li>
								<a href="@Url.Action("Index", "Checklists")"
								   onclick="FormService.showProgress()">
									<i class="material-icons">list</i>
									<span>Checklists</span>
								</a>
							</li>
						}
						<li>
							<a href="@Url.Action("About", "Home")"
							   onclick="FormService.showProgress()">
								<i class="material-icons">info</i>
								<span>About</span>
							</a>
						</li>
					</ul>
				</div>
				
				<a href="@Url.Action(Model.ResourceMethodName, Model.ResourceControllerName)"
				   id="ma-nav-title"
				   class="ma-nav-breadcrumb ma-nav-text">
					@Model.ResourceName
				</a>

				@using (Html.BeginForm(
					"ChangeCompany",
					"Company",
					FormMethod.Post,
					new {
						// Used for preventing 'Confirm unsaved changes' dialog
						ma_dirtyforms_ignore = ""
					}
					))
				{
					<select id="ma-company-picker"
							class="show-tick"
					        data-style="ma-nav-brand"
					        name="companyNumber">
						@{
							var roles = (User.Identity as ClaimsIdentity).Claims
								.Where(claim => claim.Type == "roles")
								.Select(r => r.Value.Substring(0, 3))
								.Distinct();

							HttpCookie companyCookie = Request.Cookies.Get(CookieFactory.CompanyCookieName);
							string selectedCompany = companyCookie.Value ?? "";

							foreach (var role in roles)
							{
								<option
									title="Murphy Automotive (@role)"
									value="@role"
									@(role == selectedCompany ? "selected" : "")>
									@role
								</option>
							}
						}
					</select>
				}

				<div class="ma-nav-account">
					@Html.Partial("_LoginPartial")
				</div>
			</div>

		</div>
	}

	<div id="ajaxContentWrapper">
		@if (IsSectionDefined("DetailedNavigationInfo"))
		{
			<div class="btn-toolbar ma-nav-info well well-sm">
				@RenderSection("DetailedNavigationInfo")
			</div>
		}
		@if (IsSectionDefined("TabContainer"))
		{
			<div id="tabContainer" class="ma-tab-container btn-group-justified">
				@RenderSection("TabContainer")
			</div>
		}
		<div id="ma-scrollable-tab-container"></div>
		@if (IsSectionDefined("Toolbar"))
		{
			<div class="btn-toolbar ma-toolbar well well-sm" id="toolbarContainer">
				@RenderSection("Toolbar")
			</div>
			@HtmlHelpers.ProgressBar()
		}
		@if (Model != null && Model.Toast != null)
		{
			<div>
				@Html.Partial("Toasts/_Toast", Model.Toast)
			</div>
		}

		@RenderBody()

		<hr />
		<footer>
			<span>&copy; 2017-@DateTime.Now.Year - Daniel Caspers. All rights reserved.</span>
		</footer>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$.material.init();
		});
	</script>
</body>
</html>
