@model DigitalInspection.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		  rel="stylesheet">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jquery-ajax")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/material")
	@Scripts.Render("~/bundles/multiselect")

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid ma-nav-container">
			<div class="dropdown ma-nav-dropdown">
				<button type="button" class="btn btn-default" data-toggle="dropdown">
					<i class="dropdown-toggle material-icons md-24 md-light">
						menu
					</i>
				</button>
				<ul class="dropdown-menu ma-menu-tray">
					<li>
						<a href="@Url.Action("Index", "Home")">
							<i class="material-icons">description</i>
							<span>Work Orders</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("Index", "Checklists")">
							<i class="material-icons">list</i>
							<span>Checklists</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("About", "Home")">
							<i class="material-icons">people</i>
							<span>Users</span>
						</a>
					</li>
					<li>
						<a href="@Url.Action("About", "Home")">
							<i class="material-icons">info</i>
							<span>About</span>
						</a>
					</li>
				</ul>
			</div>
			<span id="ma-nav-title" class="ma-nav-breadcrumb ma-nav-text">@Model.Resource</span>

			<!-- Note: Using navbar-brand on the actionlink causes the height of the bar to increase, covering important tab containers or toolbars slightly.-->
			<div class="ma-nav-brand">
				@Html.ActionLink("Murphy Automotive", "Index", "Home", new { area = "" }, new { @class = "text-inverse" })
			</div>

			<div class="ma-nav-account">
				@Html.Partial("_LoginPartial")
			</div>


		</div>

	</div>

	<div>
		@if (IsSectionDefined("TabContainer"))
		{
			<script type="text/javascript" src="~/Scripts/App/Shared/Services/tab.service.js"></script>

			<div id="tabContainer" class="ma-tab-container btn-group-justified">
				@RenderSection("TabContainer")
			</div>
		}
		@if (IsSectionDefined("Toolbar"))
		{
			<div class="btn-toolbar ma-well well well-sm">
				@RenderSection("Toolbar")
			</div>
		}

		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Digital Inspection</p>
			<i class="material-icons">edit</i>
			<i class="material-icons">delete</i>
			<i class="material-icons">content_copy</i>
			<i class="material-icons">photo_camera</i>

			<i class="material-icons">arrow_back</i>
			<i class="material-icons">menu</i>
			<i class="material-icons">apps</i>
			<i class="material-icons">clear</i>

			<i class="material-icons">account_circle</i>
			<i class="material-icons">label</i>

			<i class="material-icons">add</i>
			<i class="material-icons">note_add</i>
			<i class="material-icons">add_a_photo</i>
			<i class="material-icons md-36">person_add</i>




		</footer>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$.material.init();
		});
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
