@model DigitalInspection.ViewModels.EditTagViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Digital Inspection";
}

@section Toolbar {
	<div class="row">
		<a href="@Url.Action("Index", "Tags")"
		   onclick="FormService.showProgress()"
		   class="btn btn-default back-button no-margin pull-left">
			<i class="material-icons">arrow_back</i>
			@Model.Tag.Name
		</a>
		<button onclick="FormService.submit('editTagForm', true)"
				class="btn btn-default no-margin pull-right">
			<i class="material-icons">save</i>
		</button>
	</div>
}

@using (Html.BeginForm(
					"Update",
					"Tags",
					new { id = Model.Tag.Id },
					FormMethod.Post,
					new
					{
						id = "editTagForm",
						autocomplete = "off"
					}
				)
		)
{
	<div class="container-fluid">
		<div class="jumbotron">
			<fieldset>
				<div class="form-group">
					@Html.LabelFor(m => m.Tag.Name, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Tag.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Tag.Name)
				</div>

				<div class="form-group">
					<div class="container-flex space-between">
						<div class="flex-item">
							@Html.LabelFor(m => m.Tag.IsVisibleToCustomer, new { @class = "control-label" })
						</div>
						<div class="checkbox" style="float: right; position:absolute; left: 160px;">
							<label>
								@Html.CheckBoxFor(m => m.Tag.IsVisibleToCustomer)
							</label>
						</div>
						@Html.ValidationMessageFor(m => m.Tag.IsVisibleToCustomer)
					</div>
				</div>

				<div class="form-group">
					<div class="container-flex space-between">
						<div class="flex-item">
							@Html.LabelFor(m => m.Tag.IsVisibleToEmployee, new { @class = "control-label" })
						</div>
						<div class="checkbox" style="float: right; position:absolute; left: 160px;">
							<label>
								@Html.CheckBoxFor(m => m.Tag.IsVisibleToEmployee)
							</label>
						</div>
						@Html.ValidationMessageFor(m => m.Tag.IsVisibleToEmployee)
					</div>
				</div>
			</fieldset>
		</div>
	</div>
}
