@model DigitalInspection.ViewModels.AddChecklistItemViewModel

@{
	const string TEMPLATE_NAMESPACE = "addChecklistItemDialog";
	const string CANCEL = TEMPLATE_NAMESPACE + "_cancel";
	const string SUCCESS = TEMPLATE_NAMESPACE + "_success";
}

<script type="text/javascript">
	MultiSelectService.show('addChecklistItemSelect');
</script>

<div id="@TEMPLATE_NAMESPACE" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Add a checklist item</h4>
			</div>
			@using (Ajax.BeginForm(
				"Create",
				"ChecklistItems",
				FormMethod.Post,
				new AjaxOptions
				{
					InsertionMode = InsertionMode.Replace,
					UpdateTargetId = "checklistItemList"
				},
				new { id = "addChecklistItemForm", autocomplete = "off" })
			)
			{
				<div class="modal-body">
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "" })
						@Html.ValidationMessageFor(m => m.Name)
					</div>

					<!-- Separate div required so input:foucs behavior on search box doesn't trigger name field -->
					<div class="form-group" style="margin-top:0px;">
						@Html.LabelFor(m => m.Tags, new { @class = "control-label" })
						@Html.ListBoxFor(m => m.Tags, new MultiSelectList(Model.Tags, "Id", "Name"),
							new { id = "addChecklistItemSelect", @class = "form-control ma-multi-select", required = "required" })
						@Html.ValidationMessageFor(m => m.Tags)
					</div>
				</div>
				<div class="modal-footer">
					<button id="@CANCEL" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="@SUCCESS" type="submit" class="btn btn-primary" data-dismiss="modal">Add</button>
				</div>
			}
		</div>
	</div>
</div>
